body {
  overflow-x: hidden;
}
h1 {
  font-family: "Great Vibes", cursive;
}

h2,
p {
  font-family: "Montserrat", sans-serif;
}

.iconMusic {
  mix-blend-mode: difference;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-left {
  animation: fadeLeft 0.8s ease forwards;
}
